.box {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    margin: 100px auto;
}
.box1 {
    width: 200px;
    height: 200px;
    background-color: rgb(182, 123, 55);
    margin: 100px auto;
}
.box2 {
    width: 200px;
    height: 200px;
    background-color: rgb(179, 52, 21);
    margin: 100px auto;
}