* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.contenar {
    max-width: 1295px;
    margin: 105px auto;
}
.contenar h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 40px;
}
.contenar p {
    font-size: 26px;
    font-weight: 500;
}
.box {
    margin-top: 55px;
    display: flex;
}
.parent {
    width: 34.33%;
    padding: 0 20px 0 0;
}
h3 {
    font-size: 22px;
}
.parent p {
    margin-top: 7px;
    font-size: 20px;
}
.parent img {
    width: 86px;
    margin-bottom: 8px;
}
.parent {
    line-height: 30px;
}
.howwork {
    display: flex;
    gap: 95px;
}
.howwork img {
    width: 600px;
}
.data {
    width: 600px;
    /* padding: 30px 40px; */
}
.data p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 50px;
}
button {
    color: #fff;
    background-color:rgb(245, 13, 175) ;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: 50px;
}
hr {
    width: 95%;
    height: 1px;
    background-color: rgb(163, 155, 155);
    margin: 0 auto;
}
/* .datacontrol {
    width: 60%;
} */
/* .datacontrol p {
    font-size: 22px;
    margin: 8px 0;
} */
/* .control {
    display: flex;
    flex: 0 0 30%
} */
.howworkdatacontrol {
    width: 50%;
    display: flex;
}
.parentcontrol img {
    width: 78px;
}
.parentcontrol {
    margin: 50px 20px;
    line-height: 30px;

}
.parentcontrol p {
    font-size: 22x;
    line-height: 30px;
}
.imgmobil {
    width: 50%;
}
.safe {
    margin-top: 100px;
    display: flex;
}
.safeimg img {
    width: 75%;
}
.safedata {
    width: 75%;
}
.safedata p {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 40px;
}
.safedata h1 {
    font-size: 45px;
    margin-bottom: 20px;
}
.secure {
    display: flex;
    gap: 20px;
}
.parentsecure p {
    font-size: 22x;
    line-height: 30px;
}
.parentsecure img {
    width: 80px;
    margin-bottom: 40px;
}
.wait {
    width: 100%;
    background-color: #1f2836;
    color: #fff;
    padding: 70px 200px;
}
.wait h1 {
    margin-bottom: 30px;
}
.wait p {
    margin-bottom: 50px;
}
.checkout {
    margin-top: 100px;
}
.checkout h1 {
    margin-bottom: 30px;
}
.checkout p {
    font-size: 26px;
}
