* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.contenar {
    max-width: 77%;
    margin: 40px auto;
}
h1 {
    font-size: 45px;
    margin-bottom: 50px;
}
p {
    font-size: 30px;
    margin-bottom: 70px;
}
.box {
    display: flex;
    flex: 0 0 33%;
}
h2 {
    margin-bottom: 10px;
    font-size: 24px;
}
.box p {
    font-size: 18px;
}
.parent img {
    width: 90px;
    margin-bottom: 20px;
}
.parent {
    margin: 15px;
    line-height: 30px;
}
.howwork {
    padding: 50px 0;
    display: flex;
    gap: 40px;
}
.howwork img {
    width: 100%;
  
}
.data {
    width: 100%;
    padding: 30px 60px;
}
.data p {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 50px;
}
button {
    color: #fff;
    background-color:rgb(245, 13, 175) ;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: 50px;
}
hr {
    width: 95%;
    height: 1px;
    background-color: rgb(163, 155, 155);
    margin: 0 auto;
}
.datacontrol {
    width: 60%;
}
.datacontrol p {
    font-size: 22px;
    margin: 8px 0;
}
.control {
    display: flex;
    flex: 0 0 30%
}
.howworkdatacontrol {
    width: 50%;
    display: flex;
}
.parentcontrol img {
    width: 78px;
}
.parentcontrol {
    margin: 50px 20px;
    line-height: 30px;

}
.parentcontrol p {
    font-size: 22x;
    line-height: 25px;
}
.imgmobil {
    width: 50%;
}
.safe {
    margin-top: 100px;
    display: flex;
}
.safeimg img {
    width: 70%;
}
.safedata {
    width: 60%;
}
.secure {
    display: flex;
}
.parentsecure p {
    font-size: 22x;
    line-height: 25px;
}
