* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(243,225,226);
}
.login {
    width: 75%;
    height: 92vh;
    margin: 50px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, .4);
    
}
.data {
    width: 50%;
    margin-top: 40px;
    float: left;
}
.data h1 {
    font-size: 45px;
    color: brown;
}
.data img {
    width: 50px;
    margin: 0px 25px;
}
input {
    height: 40px;
    width: 60%;
    padding: 15px;
}
button {
    background-color: brown;
    height: 40px;
    width: 130px;
    color: antiquewhite;
    border-radius: 25px;
    font-size: 20px;
}
.image {
    /* width: 50%;
    height: 100%; */
    float: left;
}
.sun {
    width: 1000px;
    height: 1000px;
    background-image: url(../image/abstract-low-poly-banner-with-orange-light-shade_1017-24636.webp);
    background-position: right center;
    background-size: cover;
    border-radius: 50%;
    top: -9%;
    position: absolute;
}