* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pro {
    width: 80%;
    height: 800px;
    margin: 20px auto;
    overflow: scroll;
    
}
.product {
    width: 22%;
    height: 300px;
    margin: 16px;
    float: left;
    min-width: 250px;
    max-width: 300px;

}
.imdata {
    width: 100%;
    height: 80%;
}
.imdata img {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0px 0px;

}
.data {
    width: 100%;
    height: 20%;
    border: 1px solid rgb(142, 90, 90);
    border-radius: 0px 0px 15px 15px;
    padding-top:10px;
    padding-left: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}