* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Alegreya';
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
}
.button_hero {
    background-color: #C8191C;
    width: 30rem;
    height: 6.5rem;
    font-weight: 700;
    font-size: 2.4rem;
    color: #FFFFFF;
    display: inline-block;
}
p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
h5 {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.3rem;
    text-align: center;
    text-transform: uppercase;
    color: #C8191C;
}
h2 {
    padding-bottom: 10rem;
    font-weight: 700;
    font-size: 8.4rem;
    line-height: 11.4rem;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}


/* ***Header*** */
header {
    padding-top: 2rem;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: black;
}
header .container {
    padding-top: 0 ;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-header ul {
    display: flex;
}
.main-header ul li a {
    margin-right: 5rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #FFFFFF;
}
.main-header ul li:last-child a {
    margin-right: 0;
}
.main-header ul li a:hover {
    color: #C8191C;
}

/* *********** */
#hero {
    background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%);
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
    display: flex;
    background-position: center center;
    background-size: cover;
}
#hero .container {
    padding-top: 0;
}
#hero::before {
    content: '';
    background-image: url(../images/hero.png);
    position: absolute;
    inset: 0;
    opacity: 0.08;
    background-size: 100% auto ;
    background-position: top center;
    background-repeat: no-repeat;
}
.hero-data {
    margin-bottom: 30rem;
    text-align: center;
    z-index: 99;
    position: relative;
}
.hero-data h1 {
    font-weight: 700;
    font-size: 13rem;
    line-height: 16rem;
    color: #FFFFFF;
    margin-top: 30rem;
}
.hero-data span {
    color: #C8191C;
}
.hero-data p {
    padding: 5rem 45rem;
    text-align: center;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: center;
    color: #FFFFFF;
}
.hero-data a {
    margin: 0 auto;
}

/***DISCOVER***/
#discover {
    background: linear-gradient(0deg, #000000 16.49%, #C8191C 274.79%);
}
.discover-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 17.2rem;
}
.discover-icons h3 {
    font-weight: 700;
    font-size: 5.4rem;
    line-height: 7.3rem;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.discover-with p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #FFFFFF;
    margin-top: 12rem;
}
.discover-with h5 {
    margin-top: 2.8rem;
}
.with-img img {
    width: 72.9rem;
    height: 50.6rem;
    object-position: center center;
    object-fit: cover;
}
.with-data {
    padding-left: 15rem;
    position: relative;
}
.with-data::before {
    content: '';
    position: absolute;
    width: 0rem;
    height: 46rem;
    border: 1px solid #FFF;
    left: 3rem;
    top: 3.8rem;
}
.with-data .button_hero {
    margin-top: 10rem;
    display: inline-block;
}
/**********/

/***SUPER***/
#super {
    background: linear-gradient(180deg, #000000 37.37%, #C8191C 231.27%);
}

#super p {
    max-width: 48.5rem;
    padding-top: 11.5rem;
}
.team-imgs {
    padding-bottom: 10.4rem;
    padding-left: 8.8rem;
}

/*** servise *****/
#service {
    background: linear-gradient(0deg, #000000 37.37%, #C8191C 237.79%);
}
.service-data h3 {
    padding-top: 5rem;
    padding-bottom: 2rem;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 6rem;
    text-transform: uppercase;
    color: #FFFFFF;
}
.service-data {
    padding: 5rem 6rem;
    padding-top: 3rem;
    border: 1px solid white;

}
.service-imgs p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #FFFFFF;
    max-width: 53.1rem;
}
.service-imgs >*:nth-of-type(odd) {
    padding-left: 4.2rem;
    padding-right: 7.5rem;
    padding-bottom: 15rem;

}
.service-imgs >*:nth-of-type(even) {
   padding-right: 4.2rem;
   padding-left: 7.5rem;
}
/*************/

/***** why *****/
#why {
    background: linear-gradient(180deg, #000000 37.37%, #C8191C 231.27%);
}
.why_data h4 {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 6rem;
    color: #FFFFFF;
    margin: 3rem 0 ;
    text-transform: uppercase;
}
.why-imgs p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #FFFFFF;
    max-width: 39.5rem;
}
.why-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
}
.with-img img {
    width: 15rem;
    height: 15rem;
    object-position: center center;
    object-fit: cover;
}
/* ***horoscope*** */
#horoscope {
    background: linear-gradient(0deg, #000000 37.37%, #C8191C 237.79%);
}

/* ******************* */
@media screen and (min-width:1500px) {
    .container {
        max-width: 150rem;
        padding: 0 1rem;
        margin: 0 auto;
        padding-top: 20rem;
    }

}

@media screen and (min-width:1700px) {
    .container {
        max-width: 170rem;
        padding: 0 1rem;
        margin: 0 auto;
        padding-top: 20rem;
    }

}